<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"> 
    <title>TODO | Login</title>
</head>
<body>
    <div class="form">
         <form action="http://localhost:8000/login" method="POST">
            <div class="form-group">
                 <h1>Login Page</h1>
              <input type="email" class="form-control" name="mail" placeholder="Email" required>
            </div><br><br>
            <div class="form-group">
              <input type="password" class="form-control" name="pass" placeholder="Password" required>
            </div><br><br>

             <div class="form-group">
                 <button type="submit" class="btn btn-info btn-block">Login</button>
                 </div><br><br>
          <form>
        </div>
</body>
</html>